#button-container {
    text-align: center;
    
}

h1 {
    text-align: center;
    color: aqua
}

body {
    background-image: url("https://ididnthavemyglasseson.files.wordpress.com/2015/11/flikr-com.jpg");
}

h1 {
    font-family: 'Pangolin', cursive;
}